site_name: BRACE - Building Readiness and Circumvention in Emergencies Framework
site_description: BRACE is a curricula, a methodology, and a framework for trainers to assist CSOs to create a customized contingency work plan for internet outage.  
site_url: http://127.0.0.1:8000/
theme:
  name: material
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono  # Optional, for code blocks
  logo: icon.png
  favicon: icon.png
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.expand  
    - toc.integrate      
    - navigation.sections
    - navigation.footer
    - navigation.indexes
    - navigation.top
    - navigation.tracking
    - navigation.expand
    - navigation.sections   
    - navigation.instant   
    - search.highlight

  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: #188FA7
    accent: cyan
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: blue
    accent: cyan
    toggle:
      icon: material/brightness-4
      name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - git-revision-date-localized:
      type: iso_date
      fallback_to_build_date: false  
      enable_creation_date: false  
      enabled: true
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - tags:
      tags_file: tags.md
  - privacy:
      links: 
      links_attr_map:
        target: _blank
      links_noopener: true
      enabled: true
      assets_exclude:
        - cdn.jsdelivr.net/npm/mathjax@3/*
        - giscus.app/*
  - panzoom:
      full_screen: True # default False
  - search
  - tags

extra_css:
  - stylesheets/extra.css
  - stylesheets/tablecss.css

extra_javascript:
  - https://unpkg.com/mermaid@10.1.0/dist/mermaid.min.js

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

copyright: |
  &copy; 2025 <a href="https://github.com/stayteef"  target="_blank" rel="noopener">ST</a>

nav:
  - Home: index.md
  - About: posts/about.md
  - The BRACE Methodology: posts/methodology.md
  - BRACE Activities:
      - Regional Context Research: posts/regional-context-research.md
      - Organizational Context Research: posts/organizational-context-research.md
      - Needs Mapping: posts/needs-mapping.md
      - Mitigation Planning: posts/mitigation-planning.md
      - Action Plan: posts/feedback.md
      - Training and Familiarisation: posts/training.md
  - Resources and Templates:
      - Questionnaire: posts/questionnaire.md
      - Workflow Breakdown Table:
      - Mitigation Table:
      - Impact-Cost Matrix: posts/impact-cost-matrix.md
      - Action Plan:
      - Security Training: posts/security-training.md
      - [Shutdown.tools](https://www.shutdown.tools/)